img{
    max-width: 100%;
    height: auto;
}
.main-menu{
    width: 296px;
    min-height: 800px;
    background: #F8F9FA;
    padding-top: 32px;
    padding-bottom: 32px;
    h1{
        min-height: 40px;
        background: url(../images/logo-ANSWER.svg);
        background-repeat: no-repeat;
        text-indent: 110%;
        white-space: nowrap;
        overflow: hidden;
        margin-left: 32px;
        margin-bottom: 32px;
    }
    ul{
        margin-bottom: 360px;
        li{
            margin-bottom: 24px;
            a{
                display: block;
                padding-left: 32px;
                line-height: 24px;
                font-weight: bold;
                span{
                    margin-right: 16px;
                }
            }
            a:hover{
                color:#198754;
                border-left: 4px solid #198754;
            }
        }
    }
}
.user{
    margin-left: 32px;
    img{
        width: 40px;
        height: 40px;
        margin-right: 16px;
    }
    h2{
        line-height: 24px;
        font-weight: bold;
    }
    h3{
        font-size: 14px;
        line-height: 24px;
        color:#6C757D;
    }
}
